.lp-page{


    background: grey;
    z-index: -1;
    .lp-resume {
        height: 300px;
        width: 400px;
    }
    

    
}

.custom-shape-divider-bottom-1663740747 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1663740747 svg {
    position: relative;
    display: block;
    width: calc(206% + 1.3px);
    height: 316px;
}

.custom-shape-divider-bottom-1663740747 .shape-fill {
    fill: #ffffff;
}